@import '../../common/constants';

.RepositoryView {
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .Name {
      font-weight: bold;
      font-size: 20px;
      color: dodgerblue;
    }

    .StarButtonContainer {
      display: flex;

      button {
        font-family: $font;
        font-size: 16px;
        padding: 2px 15px;
        border: 2px solid black;
        background-color: darkseagreen;
        box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 1);
        cursor: pointer;

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .RepositoryContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;

    .Row {
      display: flex;

      &:nth-child(1) {
        justify-content: space-between;

        .Description {
          padding-right: 40px;
        }
      }

      &:nth-child(2) {
        margin-top: 10px;

        .Details {
          display: flex;
          width: 20%;
          justify-content: space-between;
        }

        & > *:nth-child(2) {
          padding: 0 40px;
        }
      }
    }
  }
}
