@import '../../common/constants';

.RepositoryList {
  display: flex;
  flex-direction: column;

  .SearchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .Search {
      display: inline-flex;
      align-items: center;

      svg {
        position: relative;
        left: 10px;
      }

      input {
        border: 3px solid black;
        border-radius: 20px;
        font-family: $font;
        font-size: 15px;
        margin-left: -16px;
        padding: 5px 10px 5px 30px;
        background-color: transparent;
        z-index: 1;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .ListContainer {
    display: flex;
    flex-direction: column;

    .RepositoryContainer {
      display: flex;
      padding: 10px;
      margin-bottom: 10px;
      border: 3px solid black;
      border-radius: 5px;

      .Column {
        &:nth-child(1) {
          width: 20%;

          .Row {
            display: flex;

            &:nth-child(2) {
              justify-content: space-between;
            }
          }
        }

        &:nth-child(2) {
          width: 75%;

          .Row {
            display: flex;
            padding: 0 40px;

            &:nth-child(1) {
              justify-content: space-between;
            }
          }
        }

        &:nth-child(3) {
          display: flex;
          width: 5%;
          justify-content: flex-end;
        }

        .Row:nth-child(2) {
          margin-top: 10px;
        }
      }
    }
  }
}
